*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    background-image:url(../Resources/fondo\ 2.jpg);
    background-size: cover;
}
.logo{
    height: 50px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-links .nav-link{
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.main{
    padding: 20px;
}
.charm{
    font-family:'charm', sans-serif;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.index-main-img{
    height: 600px;
}
.index-sec-img{
    height: 300px;
    float: right;
}
.index-opt-img{
height: 300px;
}
.index-btn{
    font-size: 2rem;
    display: inline-block;
    width: auto;
}
.index-opt{
    padding: 20px;
}
.logo-empresa {
    max-width: 200px;
    height: auto;
    margin: 0;
}
.social-icon {
    width: 40px;
    height: auto;
    margin: 30px;
    transition: transform 0.3s;
}
.social-icon:hover {
    transform: scale(1.2);
}
